<!DOCTYPE html>
<html>
<head>
    <title>AB204</title>
</head>
<body>
    <nav>
        <h3>Header Home</h3>
    </nav>

    @RenderBody()


    <footer>
        <h3>Footer Home</h3>
    </footer>
</body>
</html>
