@model BookCreateDTO
<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Price</label>
                    <input asp-for="Price" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">CostPrice</label>
                    <input asp-for="CostPrice" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">DiscountPercent</label>
                    <input asp-for="DiscountPercent" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Genre</label>
                    <select asp-for="GenreId" class="form-control" asp-items="@(new SelectList(ViewBag.Genres,"Id","Name"))"></select>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>